{
  "api_url": "https://mercadoflow.com",
  "api_key": "",
  "api_key_encrypted": "",
  "market_id": "",
  "watch_paths": [
    "C:/PDV/XMLs"
  ],
  "xsd_paths": [
    "C:/ProgramData/PDV2Cloud/xsd/schemes/PL_009_V4/nfe_v4.00.xsd",
    "C:/ProgramData/PDV2Cloud/xsd/schemes/PL_008i2/nfe_v3.10.xsd"
  ],
  "poll_interval_seconds": 10,
  "retry_interval_minutes": 5,
  "xsd_paths": [],
  "healthcheck_enabled": true,
  "healthcheck_port": 8765
}
